torch
torchaudio
torchvision
torchmetrics
duckdb
numpy>=1.26,<2.2
pyarrow
pillow
kagglehub
pyyaml
faster-coco-eval
python-dotenv
s3fs
wandb
huggingface_hub

opencv-python
fastapi
uvicorn[standard]
python-multipart
norfair